#customers {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.big-container {
  display: flex;
}
.device-info {
  height: 70vh;
  width: 30%;
  background: white;
  border-radius: 10px;
  margin-right: 20px;
}

h3 {
  margin-top: -40vh;
}

.mini-card img {
  height: 35px;
  object-fit: contain;
  margin-left: -30;
}
.mini_card p {
  display: inline;
}
.mini-card p {
  diplay: inline;
}

.device-info p {
  padding-left: 20%;
  padding-top: 15px;
}
img {
  width: 100%;
  margin: auto;
  height: 80%;
}
.nolist {
  height: 10%;
  width: 17%;
  padding: 1%;
  margin: 1.8%;
  background-color: white;
  border-radius: 10px;
}
.basicButton {
  background: rgb(236, 228, 228);
  margin-left: 3%;
  float: right;
  border-radius: 1px;
}

.container {
  display: flex;
  margin-left: 15px;
  width: 65vw;
  flex-wrap: wrap;
}

.list {
  margin-left: 15px;
}

.mini-card {
  width: 23%;
  height: 65px;
  padding: none;
  background: white;
  border: 1px solid none;
  border-radius: 15px;
  margin: 7px;
  padding: 2px;
}
h3 {
  text-align: center;
}

.mini-card > small {
  font-size: 8px;
}

#customers td,
#customers th {
  border: 2px solid #ddd;
  padding: 12px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}
table tbody {
  display: block;
  max-height: 350px;
  overflow-y: scroll;
}

table thead,
table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.blue-color {
  color: #ddd;
  margin-right: 10%;
}
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left !important;
  text-align: left !important;
  background-color: #007bff;
  color: white;
  text-align: center;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  background-color: #007bff;
  border-color: #007bff;
}
.input-field {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

.next-button {
  margin-left: 46% !important;
  background-color: #0c8;
  margin-top: 3% !important;
  width: 8% !important;
}
